//{
//  "presets": ["module:metro-react-native-babel-preset"]
//}

{
  "presets": ["react-native","module:metro-react-native-babel-preset","@babel/preset-react","@babel/react"],
//  "presets": ["react-native"],
  "plugins": ["transform-decorators-legacy"]
}